ipython>=8.10
notebook
jupyterlab>=3.0
kedro[jupyter]~=0.19.11
kedro-viz>=6.7.0
kedro-datasets[pandas-csvdataset, pandas-exceldataset, pandas-parquetdataset]>=3.0
pandas
numpy
pyarrow
fastparquet
scipy
plotly
seaborn
matplotlib
scikit-learn~=1.5.1
tqdm

